/node_modules
/vendor
/.git
/.gitignore
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/hot
/public/storage
/public/build
/README.md
/.dockerignore
/docker-compose.yml
/Dockerfile
*.md
.DS_Store
Thumbs.db
