node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.git
.gitignore
.env
public/build/*
docker/dbdata
.DS_Store
*.swp
*.swo

node_modules
vendor
storage/logs
storage/framework/cache
.env
.git
.gitignore
