services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    env_file: .env
    volumes:
      # - ./:/var/www/html
      - storage:/var/www/html/storage
    depends_on:
      - mysql

  web:
    image: nginx:1.27-alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html:rw
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:rw
      - storage:/var/www/html/storage
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: product_management
      MYSQL_USER: app
      MYSQL_PASSWORD: app_pass_123
      MYSQL_ROOT_PASSWORD: root_pass_123
    command: --default-authentication-plugin=mysql_native_password --sql-mode=""
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -u$$MYSQL_USER -p$$MYSQL_PASSWORD || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  mysql_data:
  storage:
